<div class="container-fluid bg-light p-5">
  <h1 class="display-4">Learn Korean with SMS Messages!</h1>
  <p class="lead">Send a SMS message and learn a new Korean word or number.</p>
  <hr class="my-4">
  <p> Try this message service sending "lear word" or "learn number" or any other text that you prefer</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

