<main class="mt-4 p-3">
  <h1 class="mt-5 display-4">Support the project</h1>
  <p class="lead fs-2"> Show your support through donations or collaborations</p>
  
  <hr class="my-4">

  <p>Donate for the project or collaborate with the code</p>

  <%= link_to 'Support', support_path, class: "btn btn-lg btn-dark mx-1", role: "button" %>
</main>